/* default default
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites, like, say for Google Maps custom placemarkers.
   There has been a report of problems with standard Google maps as well, but we haven't been able to duplicate or diagnose the issue. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {list-style: none;}


blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration:none;}
a:hover {text-decoration:underline;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #aaa; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-line;
	background-color: light-dark(#f5f5f5, #151515);
	border: 1px solid light-dark(#ccc, #222);
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

.link-hover span {display:none;}
.link-hover:hover span {display:inline;}

/* Stylings
-------------------------------------------------------------------------------*/

:root[data-applied-theme="light"] { color-scheme: light; }
:root[data-applied-theme="dark"] { color-scheme: dark; }

body {
	color:light-dark(#1b2f01, #d2dbc5);
	font-family:"Open Sans"; font-size:14px;
	background:light-dark(#fff, #111);
}

#page-wrap {width:1000px; margin:0px auto; border:1px solid light-dark(#fff, #111); padding:20px;}

header {background:light-dark(#fff, #171717); padding:10px 20px 12px 20px; position:relative;
-moz-box-shadow: 1px 1px 12px 2px light-dark(#aaa, #222);
-webkit-box-shadow: 1px 1px 12px 2px light-dark(#aaa, #222);
box-shadow:         1px 1px 12px 2px light-dark(#aaa, #222);
border-radius:12px 12px 0px 0px;
}

header a {color: light-dark(#1b2f01,#d2dbc5); text-decoration:none;}
header a:hover {text-decoration:underline;}


#logo{background:url('../img/logo.png'); width:150px; height:150px; margin:0px 20px 0px 10px;}
#logo-title{}

.newsimg {float:left; width:150px; margin:4px 12px 0px 0px;}

.newsimg_large {float:left; width:300px; margin:4px 12px 0px 0px;}

.libimg { border: 1px; border-style: solid; margin: 0 0.6em; }

#donate {margin-top:10px;}
#donate h4 {margin-bottom:5px; font-weight:600;}
	
a:hover img {
border: none !important;
opacity:0.8;
}

#page-content {
	background:light-dark(#ffffe5,#141400); /* #FFFFE5 BACKGROUND_COLOR - pale yellow/cream from colormap.cc */	 
	position:relative; padding:20px 20px 0px 20px;
	-moz-box-shadow: 1px 1px 12px 2px light-dark(#aaa, #222); -webkit-box-shadow: 1px 1px 12px 2px light-dark(#aaa, #222); box-shadow: 1px 1px 12px 2px light-dark(#aaa, #222);
	border-radius:0px 0px 12px 12px;
}

#sidebar{width:220px; padding:10px; float:left; background:light-dark(#fff, #1b1b1b); border-radius:8px; border:1px solid light-dark(#ddd, #444); margin-bottom:20px;}

.sticky-wrapper {float:left; padding:0px 0px 0px 0px; margin-right:20px;}

#sidebar.stuck {position:fixed; top:0; margin-top:20px;}
#sidebar div.title.top {visibility:hidden; margin-bottom:-20px; text-transform:lowercase;}
#sidebar.stuck div.title.top {visibility:visible; margin-bottom:-3px;}

/* #sidebar .current {text-decoration:underline;} */

article{width:695px; float:left; margin-left:20px; padding:0px; }
article.full{}

section-head { margin-bottom:20px; display:inline-block; width:100%; border-radius:8px; padding:0px; text-align: center; }
section-area { margin-bottom:20px; display:inline-block; width:100%; border-radius:8px; padding:0px; text-align: center; border: 1px solid light-dark(#f9d72c, #333); background:light-dark(#e5f1d3, #1b1b1b); }
section-area h1 { padding: 8px 20px 8px 20px; }
section-area p { padding: 8px 20px 8px 20px; }
section-area.snow { color: rgba(249, 215, 44, 1); background:#444; }
section-area.snow a { color: #e5f1d3; }
section-area.warning { color: rgba(249, 215, 44, 1); background:#a00; }
section-area.warning a { color: #e5f1d3; text-decoration:underline; }
#snow { position: relative; }

section {margin-bottom:20px; background:light-dark(#fff, #1b1b1b); border-radius:8px; border:1px solid light-dark(#ddd, #333); padding:10px 20px 20px 20px;}
.subsection {margin-bottom:20px;}
.subsection:last-child {margin-bottom:0px;}
.github-ribbon {float: right; position: relative; top: -10px; right: -20px; border: 0; z-index: 0;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection {background: #000; color: light-dark(#fff, #1b1b1b); text-shadow: none;}
::selection {background: #000; color: light-dark(#fff, #1b1b1b); text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #1b2f01;} 

a {color:light-dark(#1b2f01, #8fa76e); font-weight:600;}

.imgLink:hover{opacity:0.8;}

ins {background-color: #fcd700; color: #1b2f01; text-decoration: none;}
mark {background-color: #fcd700; color: #1b2f01; font-style: italic; font-weight: bold;}

.green{color:#518e04;}

p {padding:0px 0px 5px 0px; line-height:160%;}

.entry p {padding:0px 0px 15px 0px; line-height:160%;}

section ul li{padding-left:10px;}

small {font-size:11px;}

dt {font-weight: bold;}

button {padding:5px 5px 10px 5px; margin-bottom:10px;}
button.left {margin-right:5px;}
button.last {clear:both;}

h1 a, h2 a, h3 a, h4 a, h5 a{text-decoration:none;}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover{text-decoration:underline;}

h1 {font-size:18px; line-height:150%; padding-bottom:10px;}
h2 {font-size:15px; line-height:150%; padding-bottom:5px;}
h3 {font-size:13px; line-height:150%; padding-bottom:2px}
h4 {font-size:12px; line-height:150%; padding-bottom:2px;}
h5 {font-size:11px; line-height:150%; padding-bottom:2px;}


header h1 {font-size:28px; margin:0px; padding:0px; font-weight:600; line-height:140%;}
header h2 {font-size:20px; margin:0px; padding:0px; font-weight:600; line-height:100%;}
header h3 {font-size:16px; margin:0px; padding:0px; font-weight:600; line-height:100%;}
header h4 {font-size:12px; margin:0px; padding:0px; font-weight:500; line-height:100%;}

/* colour the header 'Open' & 'SCAD' and make bolder and chunky
like the cornfield default scheme from colormap.cc
Open - #9dcb51;} OPENCSG_FACE_BACK_COLOR - green
SCAD - #f9d72c;} OPENCSG_FACE_FRONT_COLOR - yellow
 - for reference #FFFFE5;} BACKGROUND_COLOR - pale yellow/cream, used above 
*/
header h1.title {color:light-dark(#f9d72c, ); letter-spacing:-1px; font-weight:700;}
header h1 span.green {color:#9dcb51; letter-spacing:0px;}

header h2.subtitle {color:light-dark(black, #eee); letter-spacing:-1px;}

/* colour OPEN & SCAD in the home sub-page heading the same*/
section h1 strong {color:#f9d72c; font-weight:700; letter-spacing:-1px;}
section h1 strong span.green {color:#9dcb51; letter-spacing:0px;}

.clear {clear:both;}
.left {float:left;}
.right {float:right;}

.inline {display:inline;}
.block {display:block;}

.align-left {text-align:left;}
.align-right {text-align:right;}
.justify {text-align:justify;}

.normal {font-weight:normal;}

ol{
	list-style-position: inside; padding-bottom:20px;
}
ul{
	list-style-position: inside; padding-bottom:10px;
}

strong {font-weight:600;}

ul a{text-decoration:none;}
ul a:hover{text-decoration:underline;}

ul.bullet {list-style-type:disc; list-style-position:inside;}
ul.indent {padding-left:20px;}
ul.bullet li{line-height:200%;}

.book-desc > ul li { list-style-type:circle; }
.book-data > ul { padding-top: 1em; }
.book-data > ul li { padding-left: 0pt; }
.book-data > ul li:before { content: "\00bb"; margin-right: 0.4em; }

li{line-height:180%;}

#navigation {text-align:right; margin-top:35px;}

#navigation-inner {
	margin-left: 0px;
	display:inline;
}

#navigation ul {
	position: relative;
	list-style: none;
	display:inline;
}

.nav-divider{
	padding:0px 10px;
}

#navigation ul li {
	display:inline;
	position: relative;
	line-height:100%;
	letter-spacing:0px;
	font-size:14px;
	font-weight:500;
	padding:4px 10px 5px 10px;
	margin:0px 3px;
}

#navigation ul li:last-child {
	//padding:0px;
}

#navigation ul li.current {border-radius:8px; background:light-dark(#f2f2ee, #141405); border:1px solid light-dark(#ddd, #333); padding:3px 9px 4px 9px;}

#navigation ul li:last-child .nav-divider {
	display:none;
}

#navigation ul li a {
	text-transform:lowercase;
}

/* Navbar Hover Links */

#navigation ul li:hover	{
}


#navigation ul li a:hover {
	position: relative;
	text-decoration: underline;
}

#navigation ul li:hover li a {

}

/* Navbar Active Links */

#navigation ul li.active a {
/*	border-bottom: 1px solid #333; */

}


#home-download {text-align:center; position:relative; margin-top:0px; height:130px; left:150px; width:355px;}

#home-download-link {position:absolute; top:10px; background:light-dark(#e5f1d3, #242521); height:55px; width:350px; border-radius:12px; border:4px solid light-dark(#233d00, #233d00);}

#home-download-logo {position:absolute; background:url('../img/download.png'); height:106px; width:101px;}

.underline {text-decoration:underline;}

a.underline:hover {text-decoration:none;}

a:hover #home-download-link{
	opacity:0.8;
}

a:active #home-download-link{
	top:11px; left:1px;
}

.store-button {text-align:center; display:inline-block; padding:8px;}
.download-button {background:light-dark(#e5f1d3, #171815); border-radius:12px; border:4px solid light-dark(#233d00, #182b01); text-align:center; display:inline-block; padding:8px; margin:8px;}

.link-grid { display: grid; width:100%; grid-column-gap: 8px; grid-auto-columns: auto; grid-auto-flow: column;}
.link-button { height:100%; display: block; background:light-dark(#e5f1d3, #1a220f); border-radius:8px; border:1px solid light-dark(#f9d72c, #252006); text-align:center; padding: 2px 8px; margin:0px;}
.link-button h1 { margin: 0px; padding: 0px; }
.link-button i { color: light-dark(rgba(0, 0, 0, 0.4), rgba(143, 167, 110, 0.4)); font-size: 3em; margin: 0.2em; }
.link-button .selected { color: light-dark(rgba(0, 0, 0, 0.6), rgba(143, 167, 110, 0.8)); }

.tutorial-links {width:640px; height:200px; border-top:1px solid #ddd; padding:30px 0px 40px 0px; }

.tutorial-links:hover {opacity:0.8;}
.tutorial-links img {border:1px solid #ddd; border-radius:8px;}
.tutorial-links iframe {border:1px solid #ddd; border-radius:8px;}
.tutorial-links .img-container {float:left; width:320px; margin-right:20px;}
.tutorial-links .img-title {float:left; width:300px; font-size: 50%; font-weight: normal; font-family: sans-serif; }
.tutorial-links .text-container {float:left; width:300px;}
.tutorial-links h2 {margin: 0px; padding: 0px;}
.tutorial-links ul {margin: 0px; padding: 16px;}

.tutorial-links.multi:hover {opacity:1;}

.gallery-links {float:left; width:140px; height:170px; padding:30px 20px 20px 0px; }
.gallery-links a:hover {opacity:0.8;}
.gallery-links img {border:1px solid #ddd; border-radius:8px;}
.gallery-links iframe {border:1px solid #ddd; border-radius:8px;}
.gallery-links .img-container {float:left; width:140px; margin-right:20px;}
.gallery-links .text-container {float:left; width:140px;}


footer {clear:both;}

span.link {cursor:pointer;}
span.link:hover {text-decoration:underline;}
.tutorial-links .current {text-decoration:underline;}

/* Social media icons */
 
i.fab {
	width: 30px;
	height: 30px;
	font-size: 25px;
	text-align: center;
	padding-top: 5%;
}

.fa-twitter {
	color:#00aced
}

.ticker-wrap, .ticker-item {
	height: 2.5rem;
	line-height: 1.2rem;
}

.ticker-wrap {
	overflow: hidden;
	margin: 0.1rem;
}

.ticker-item {
	display: flex;
}

.ticker-content {
	text-align: center;
	margin: auto;
}

.ticker-animation {
	position: relative;
	animation-name: ticker;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

.ticker-move:hover {
	animation-play-state: paused;
}

@keyframes ticker {
    0% { transform:translate(0, 0.0rem); }
    15% { transform:translate(0, 0.0rem); }
    16% { transform:translate(0, -2.5rem); }
    32% { transform:translate(0, -2.5rem); }
    33% { transform:translate(0, -5.0rem); }
    49% { transform:translate(0, -5.0rem); }
    50% { transform:translate(0, -7.5rem); }
    65% { transform:translate(0, -7.5rem); }
    66% { transform:translate(0, -10.0rem); }
    82% { transform:translate(0, -10.0rem); }
    83% { transform:translate(0, -12.5rem); }
    99% { transform:translate(0, -12.5rem); }
    100% { transform:translate(0, -15.0rem); }
}

#displayMode {
	margin: 10px 10px 0 0;
	padding: 2px 10px;
	line-height: 27px;
	height: 27px;
    background: light-dark(#f2f2ee, #141405);
    border: 1px solid light-dark(#ddd, #333);
	border-radius: 10px;
	cursor: pointer;
}
#displayMode ul.pickMode {
	position: relative;
	margin: -33px;
	padding: 2px 10px;
    background: light-dark(#f2f2ee, #141405);
    border: 1px solid light-dark(#ddd, #333);
	border-radius: 10px;	
}
#displayMode ul.pickMode li {
	padding: 2px;
	border-radius: 10px;	
	cursor: pointer;
}
#displayMode ul.pickMode li:hover {
	background: light-dark(#dbdbcd, #25250a);
}