/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* Stylings
-------------------------------------------------------------------------------*/

body {
	color:#1b2f01;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background:#fff;
}

#page-wrap {width:1000px; margin:0px auto; border:1px solid #fff; padding:20px;}

main {
	background:#fff;
	position:relative;
	padding: 20px 20px 20px 20px;
	box-shadow: 1px 1px 12px 2px #aaa;
	border-radius:12px 12px 12px 12px;
}

.green{color:#518e04;}

.yellow{color:#f9d72c;}

img {
	padding: 0 1em 0 1em;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

th {
	background-color: #ffffe5;
}

th, td {
	border-style: solid;
	padding: 4px;
	text-align: left;
	vertical-align: top;
}
